.badge {
    padding: 4px;
    border-radius: 4px;
    background-color: #343a40;
    color: #f8f9fa;
    min-width: 64px;
    min-height: 20px;
}

.badge-success {
    font-weight: bold;
    background-color: #90a955;
}

.badge-warning {
    font-weight: bold;
    background-color: #f4e285;
    color: black;
}

.badge-error {
    font-weight: bold;
    background-color: #bc4749;
}
